{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}

    <h1>Details de la commande :</h1>

    <h3>Prix : {{ order.price }}</h3>

    <ul>
        {% for line in order.productLine %}
            <li>{{ line.product.name }} x {{ line.quantity }} : {{ line.price }} €</li>
        {% endfor %}
    </ul>

    <a href="{{ path("app_home") }}">Retour à l'accueil</a>
{% endblock %}
