{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}

    <h1>Details de la commande :</h1>

    {{ order.user.name }}
    {{ order.price }}
    {{ order.status }}

    {{ dump(order) }}
    {% for line in order.productLine %}
        {{ line.product.name }}
    {% endfor %}
{% endblock %}
